<link rel="stylesheet" href="/stylesheets/setting.css">
<body>
<center>
<div class="profile" style="border-bottom: white solid 2px">
<br>
    <div class="row">
    <img src="/images/profile.png" style="border-radius: 100%;
    width: 150px;
    height: 150px;
    background-color: white;"><br><br></div>

    <div class="row">
        <h2>정현지님의 Setting Page</h2>
        <br>
    </div>

</div>
    <br><br>
<div class="row">알림받기
<label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
</label><br>
    본 기능은 회원가입 후 사용가능합니다.
<br>

</div>

<div class="row">긴급 연락처 등록
    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
    <br>
    본 기능은 회원가입 후 사용가능합니다.
    <br>
</div>

</center>
</body>


